PORT=4000
MONGO_URI=mongodb://127.0.0.1:27017/greenify
SEPOLIA_RPC_URL=https://sepolia.infura.io/v3/YOUR_INFURA_KEY
REGISTRY_ADDRESS=0x...
CREDIT_ADDRESS=0x...
MARKET_ADDRESS=0x...
PINATA_JWT=your_pinata_jwt
PINATA_GATEWAY=https://gateway.pinata.cloud
